h5, h6 {
    color: #8200ff
}

label {
    color: #8200ff
}
.logo-align{
    display: flex;
    justify-content: center;
    
}
@media only screen and (min-width:768px){
    .logo-align{
        display: flex;
        justify-content: start;
        
    }

   
   }