.App {
  text-align: center;
}

.container{
  background-image: url(./images/team-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.appRow {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: double rgb(236, 180, 222);
}

